In [1]:
import pandas as pd
import requests
from tqdm import tqdm
import json

In [10]:
units_of_assessment = pd.Series(['Clinical Medicine', 'Public Health, Health Services and Primary Care',
        'Allied Health Professions, Dentistry, Nursing and Pharmacy',
        'Psychology, Psychiatry and Neuroscience', 'Biological Sciences',
        'Agriculture, Veterinary and Food Science',
        'Earth Systems and Environmental Sciences', 'Chemistry', 'Physics',
        'Mathematical Sciences', 'Computer Science and Informatics',
        'Aeronautical, Mechanical, Chemical and Manufacturing Engineering',
        'Electrical and Electronic Engineering, Metallurgy and Materials',
        'Civil and Construction Engineering', 'General Engineering',
        'Architecture, Built Environment and Planning',
        'Geography, Environmental Studies and Archaeology',
        'Economics and Econometrics', 'Business and Management Studies', 'Law',
        'Politics and International Studies', 'Social Work and Social Policy',
        'Sociology', 'Anthropology and Development Studies', 'Education',
        'Sport and Exercise Sciences, Leisure and Tourism', 'Area Studies',
        'Modern Languages and Linguistics', 'English Language and Literature',
        'History', 'Classics', 'Philosophy', 'Theology and Religious Studies',
        'Art and Design: History, Practice and Theory',
        'Music, Drama, Dance and Performing Arts',
        'Communication, Cultural and Media Studies, Library and Information Management'])

uoa_report_count = pd.Series([383,163,343,317,257,126,171,125,181,210,251,120,126,51,240,
            142,235,98,411,216,166,187,97,80,215,122,69,190,281,263,59,98,75,231,194,159])

query_df = pd.DataFrame({'uoa code':pd.Series(range(1,37)),'unit of assessment':units_of_assessment,'number of studies':uoa_report_count})

In [11]:
query_df

,uoa code,unit of assessment,number of studies
0,1,Clinical Medicine,383
1,2,"Public Health, Health Services and Primary Care",163
2,3,"Allied Health Professions, Dentistry, Nursing ...",343
3,4,"Psychology, Psychiatry and Neuroscience",317
4,5,Biological Sciences,257
5,6,"Agriculture, Veterinary and Food Science",126
6,7,Earth Systems and Environmental Sciences,171
7,8,Chemistry,125
8,9,Physics,181
9,10,Mathematical Sciences,210
10,11,Computer Science and Informatics,251
11,12,"Aeronautical, Mechanical, Chemical and Manufac...",120
12,13,"Electrical and Electronic Engineering, Metallu...",126
13,14,Civil and Construction Engineering,51
14,15,General Engineering,240
15,16,"Architecture, Built Environment and Planning",142
16,17,"Geography, Environmental Studies and Archaeology",235
17,18,Economics and Econometrics,98
18,19,Business and Management Studies,411
19,20,Law,216
20,21,Politics and International Studies,166
21,22,Social Work and Social Policy,187
22,23,Sociology,97
23,24,Anthropology and Development Studies,80
24,25,Education,215
25,26,"Sport and Exercise Sciences, Leisure and Tourism",122
26,27,Area Studies,69
27,28,Modern Languages and Linguistics,190
28,29,English Language and Literature,281
29,30,History,263
30,31,Classics,59
31,32,Philosophy,98
32,33,Theology and Religious Studies,75
33,34,"Art and Design: History, Practice and Theory",231
34,35,"Music, Drama, Dance and Performing Arts",194
35,36,"Communication, Cultural and Media Studies, Lib...",159

In [13]:
#list of units of assessment for text extraction
extract_uoas = [20, 21, 22, 23, 24, 25, 26, 27]

field = 'UOA'
master_list = []
for uoa in tqdm(extract_uoas):
    empty_list = []
    url = requests.get('https://impact.ref.ac.uk/casestudiesapi/REFAPI.svc/SearchCaseStudies?UoA='+str(uoa)+'&format=JSON')
    data = url.json()
    for i in range(0,len(data)):
        empty_list.append(data[i][field])
    master_list.append(empty_list) 

j = 0
master_df = pd.DataFrame(columns=['uoa'])
for item in master_list:
    df = pd.DataFrame({'uoa':[extract_uoas[j]]*len(master_list[j])})
    master_df=master_df.append(df)
    j += 1
master_df = master_df.reset_index().drop(columns=['index'])

100%|██████████| 1/1 [00:05<00:00,  5.77s/it]

In [16]:
#Extract ImpactDetails, UnderpinningResearch or data from any other field:
'''CaseStudyId, Continent, Country, Funders, ImpactDetails, ImpactSummary, ImpactType, Institution, Institutions, 
Panel, PlaceName, References, ResearchSubjectAreas, Sources, Title UKLocation, UKRegion, UnderpinningResearch, UOA'''

field = input()
master_list = []
for uoa in tqdm(extract_uoas):
    empty_list = []
    url = requests.get('https://impact.ref.ac.uk/casestudiesapi/REFAPI.svc/SearchCaseStudies?UoA='+str(uoa)+'&format=JSON')
    data = url.json()
    for i in range(0,len(data)):
        empty_list.append(data[i][field])
    master_list.extend(empty_list) 
master_df[field] = master_list

 ImpactType

100%|██████████| 1/1 [00:07<00:00,  7.90s/it]