In [1]:
import pandas as pd
import requests
from tqdm import tqdm
import json

In [2]:
units_of_assessment = ['Clinical Medicine', 'Public Health, Health Services and Primary Care',
        'Allied Health Professions, Dentistry, Nursing and Pharmacy',
        'Psychology, Psychiatry and Neuroscience', 'Biological Sciences',
        'Agriculture, Veterinary and Food Science',
        'Earth Systems and Environmental Sciences', 'Chemistry', 'Physics',
        'Mathematical Sciences', 'Computer Science and Informatics',
        'Aeronautical, Mechanical, Chemical and Manufacturing Engineering',
        'Electrical and Electronic Engineering, Metallurgy and Materials',
        'Civil and Construction Engineering', 'General Engineering',
        'Architecture, Built Environment and Planning',
        'Geography, Environmental Studies and Archaeology',
        'Economics and Econometrics', 'Business and Management Studies', 'Law',
        'Politics and International Studies', 'Social Work and Social Policy',
        'Sociology', 'Anthropology and Development Studies', 'Education',
        'Sport and Exercise Sciences, Leisure and Tourism', 'Area Studies',
        'Modern Languages and Linguistics', 'English Language and Literature',
        'History', 'Classics', 'Philosophy', 'Theology and Religious Studies',
        'Art and Design: History, Practice and Theory',
        'Music, Drama, Dance and Performing Arts',
        'Communication, Cultural and Media Studies, Library and Information Management']

uoa_report_count = [383,163,342,316,257,125,171,125,181,209,248,119,126,51,239,
            140,235,98,410,216,166,186,97,80,215,122,68,190,280,263,59,98,75,231,194,159]

query_df = pd.DataFrame({'uoa code':list(range(1,37)),'unit of assessment':units_of_assessment,'number of studies':uoa_report_count})
query_df = query_df.set_index(['uoa code'])

In [3]:
#list of units of assessment for data extraction
extract_uoas = [20, 21, 22, 23, 24, 25, 26, 27]

uoa_list = []
for uoa in extract_uoas:
    uoa_list.extend([uoa]*query_df['number of studies'].loc[uoa])
ref_df = pd.DataFrame({'uoa':uoa_list})

In [6]:
#extract ImpactDetails, UnderpinningResearch or data from any other field:
'''CaseStudyId, Continent, Country, Funders, ImpactDetails, ImpactSummary, ImpactType, Institution, Institutions, 
Panel, PlaceName, References, ResearchSubjectAreas, Sources, Title UKLocation, UKRegion, UnderpinningResearch, UOA'''

field = input()
field_list = []
for uoa in tqdm(extract_uoas):
    url = requests.get('https://impact.ref.ac.uk/casestudiesapi/REFAPI.svc/SearchCaseStudies?UoA='+str(uoa)+'&format=JSON')
    data = url.json()
    for i in range(0,len(data)):
        field_list.append(data[i][field])
ref_df[field] = field_list
#data from field appended to ref_df dataframe

 ImpactType

100%|██████████| 8/8 [00:36<00:00,  3.86s/it]

In [7]:
ref_df

,uoa,Institution,Country,ImpactType
0,20,\r\nUniversity of Kent\r\n,"[{'GeoNamesId': '2963597', 'Name': 'Ireland'}]",Legal
1,20,\n University of Ulster\n,"[{'GeoNamesId': '163843', 'Name': 'Syria'}]",Societal
2,20,\r\n University of Ulster\r\n,"[{'GeoNamesId': '2658434', 'Name': 'Switzerlan...",Societal
3,20,\n University of Ulster\n,"[{'GeoNamesId': '3144096', 'Name': 'Norway'}, ...",Societal
4,20,\r\nUniversity of Kent\r\n,"[{'GeoNamesId': '226074', 'Name': 'Uganda'}, {...",Societal
5,20,\r\nUniversity of Kent\r\n,"[{'GeoNamesId': '2077456', 'Name': 'Australia'...",Legal
6,20,\r\nUniversity of Kent\r\n,[],Political
7,20,\r\nUniversity of Kent\r\n,"[{'GeoNamesId': '3469034', 'Name': 'Brazil'}, ...",Economic
8,20,\r\n University of East Anglia\r\n,"[{'GeoNamesId': '2623032', 'Name': 'Denmark'},...",Legal
9,20,\r\n University of East Anglia\r\n,"[{'GeoNamesId': '2186224', 'Name': 'New Zealan...",Economic
10,20,\r\n Middlesex University\r\n,[],Legal
11,20,\r\n Middlesex University\r\n,"[{'GeoNamesId': '1218197', 'Name': 'Turkmenist...",Societal
12,20,\n University of Warwick\n,"[{'GeoNamesId': '2635167', 'Name': 'United Kin...",Legal
13,20,\r\n University of Warwick\r\n,"[{'GeoNamesId': '3355338', 'Name': 'Namibia'},...",Political
14,20,\r\n University of Warwick\r\n,"[{'GeoNamesId': '2077456', 'Name': 'Australia'...",Political
15,20,\r\n University of Warwick\r\n,"[{'GeoNamesId': '6251999', 'Name': 'Canada'}, ...",Legal
16,20,\r\nMiddlesex University\r\n,"[{'GeoNamesId': '2017370', 'Name': 'Russia'}, ...",Legal
17,20,\r\n University of Central Lancashire (UCLA...,[],Legal
18,20,\n University of Central Lancashire (UCLAN)...,"[{'GeoNamesId': '2186224', 'Name': 'New Zealan...",Legal
19,20,\r\n Cardiff University\r\n,"[{'GeoNamesId': '6251999', 'Name': 'Canada'}, ...",Cultural
20,20,\n Cardiff University\n,[],Societal
21,20,\r\n Cardiff University\r\n,"[{'GeoNamesId': '6251999', 'Name': 'Canada'}, ...",Societal
22,20,\r\n University of Oxford\r\n,[],Legal
23,20,\r\n University of Greenwich\r\n,[],Legal
24,20,\r\n University of Greenwich\r\n,"[{'GeoNamesId': '2635167', 'Name': 'United Kin...",Societal
25,20,\n University of Liverpool\n,"[{'GeoNamesId': '2077456', 'Name': 'Australia'...",Political
26,20,\n University of Liverpool\n,"[{'GeoNamesId': '6252001', 'Name': 'United Sta...",Legal
27,20,\n University of Liverpool\n,"[{'GeoNamesId': '3194884', 'Name': 'Montenegro'}]",Societal
28,20,\r\n University of Oxford\r\n,"[{'GeoNamesId': '6251999', 'Name': 'Canada'}, ...",Legal
29,20,\r\n University of Oxford\r\n,[],Legal
...,...,...,...,...
1120,27,\n University of Glasgow\n,"[{'GeoNamesId': '2750405', 'Name': 'Netherland...",Societal
1121,27,\r\n Aston University\r\n,"[{'GeoNamesId': '783754', 'Name': 'Albania'}, ...",Societal
1122,27,\r\n Aston University\r\n,"[{'GeoNamesId': '690791', 'Name': 'Ukraine'}, ...",Political
1123,27,\n University of the Highlands and Islands ...,"[{'GeoNamesId': '2017370', 'Name': 'Russia'}]",Economic
1124,27,\n University of the Highlands and Islands ...,"[{'GeoNamesId': '2661886', 'Name': 'Sweden'}, ...",Societal
1125,27,\r\n UNIVERSITY OF BIRMINGHAM\r\n,"[{'GeoNamesId': '2328926', 'Name': 'Nigeria'}]",Environmental
1126,27,\n UNIVERSITY OF BIRMINGHAM\n,"[{'GeoNamesId': '6251999', 'Name': 'Canada'}, ...",Societal
1127,27,\n University of Nottingham\n,"[{'GeoNamesId': '1814991', 'Name': 'China'}]",Societal
1128,27,\n University of Nottingham\n,"[{'GeoNamesId': '1814991', 'Name': 'China'}, {...",Societal
1129,27,\r\n University of Nottingham\r\n,"[{'GeoNamesId': '1668284', 'Name': 'Taiwan'}, ...",Societal
1130,27,\r\n London School of Economics and Politic...,"[{'GeoNamesId': '2635167', 'Name': 'United Kin...",Economic
1131,27,\r\n Loughborough University\r\n,"[{'GeoNamesId': '3057568', 'Name': 'Slovakia'}...",Societal
1132,27,\r\n Loughborough University\r\n,"[{'GeoNamesId': '660013', 'Name': 'Finland'}, ...",Societal
1133,27,\n University College London\n,"[{'GeoNamesId': '587116', 'Name': 'Azerbaijan'...",Political
1134,27,\r\n University College London\r\n,"[{'GeoNamesId': '630336', 'Name': 'Belarus'}, ...",Economic
1135,27,\n London School of Economics and Political...,"[{'GeoNamesId': '2802361', 'Name': 'Belgium'}]",Economic
1136,27,\r\n London Metropolitan University\r\n,"[{'GeoNamesId': '3175395', 'Name': 'Italy'}]",Societal
1137,27,\n London Metropolitan University\n,[],Societal
1138,27,\n SOAS\n,"[{'GeoNamesId': '51537', 'Name': 'Somalia'}, {...",Cultural
1139,27,\n SOAS\n,"[{'GeoNamesId': '2328926', 'Name': 'Nigeria'},...",Cultural
1140,27,\r\n SOAS\r\n,"[{'GeoNamesId': '1269750', 'Name': 'India'}, {...",Cultural
1141,27,\n SOAS\n,"[{'GeoNamesId': '99237', 'Name': 'Iraq'}, {'Ge...",Societal
1142,27,\r\n University of Wolverhampton\r\n,"[{'GeoNamesId': '2017370', 'Name': 'Russia'}, ...",Societal
1143,27,\r\n University of Bath\r\n,"[{'GeoNamesId': '3175395', 'Name': 'Italy'}, {...",Legal
1144,27,\n University of Bath\n,"[{'GeoNamesId': '2635167', 'Name': 'United Kin...",Cultural
1145,27,\n University of Bath\n,"[{'GeoNamesId': '3175395', 'Name': 'Italy'}, {...",Societal
1146,27,\r\n SOAS\r\n,"[{'GeoNamesId': '2635167', 'Name': 'United Kin...",Cultural
1147,27,\n University of Sussex\n,[],Political
1148,27,\n University of Sussex\n,"[{'GeoNamesId': '895949', 'Name': 'Zambia'}, {...",Societal
1149,27,\r\n London School of Economics and Politic...,"[{'GeoNamesId': '390903', 'Name': 'Greece'}]",Political